
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<h5>@ViewBag.Message</h5>

<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1971.503407020051!2d25.648778693242285!3d60.387362911054474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4691f5701c2a966b%3A0x7e490d8a5ed511ce!2sCareeria%2C%20Hevosenkeng%C3%A4nkadun%20toimipaikka%2C%20Hevosenkeng%C3%A4nkatu%202%2C%2006100%20Porvoo!3m2!1d60.387363099999995!2d25.6536497!5e0!3m2!1sfi!2sfi!4v1701347839291!5m2!1sfi!2sfi" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
